body{
    padding:0;
    position: 0;
  /* background-color: rgb(197, 187, 187);*/
    background-image: url('/images/ll.jpg');

}
nav{
    background-color:  rgb(24, 24, 126);
    
}

.nav-link{
    color: white;
    font-size: small;
    font-style: normal;
    width: 10%;
    font-weight: bold;

}

section{
    background-color: #10106b;
    height: 130px;
    
}
h1{
    color: white;
    font-size: x-large;
    margin-left: 22px;
    margin-right: 22px;
    font-size: 50px;
    font-weight: bold;
   padding-left: 3%;
    padding-top:2% ;
   
}
#box{
    
    height: 500px;
     width:850px;
    margin-top: 0.01px;
    margin-right:17%;
    margin-left:19% ;
    
    background-color: white;
    
}
table{
    margin-top: 3%;
    margin-left: 3%;
 /*   width:9000px;*/
}
td{
    padding: 5px;

}

t1{
    
    color: grey;
    font-size: medium;
    font-weight: bold;
}
t11{
    color:white;
    background-color: grey;
    font-size: small;
}
t12{
    color: grey;
    font-size: x-small;
    font-weight: bold;
}
.dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
img {
    border-radius: 50%;
    width:80px;
    height: 55px;
    position: absolute;
    overflow: hidden;
    top:calc(-55px/2);
    left: calc(50% - 40px);

    
  }
  tm{
      margin-left: 800%;
  }
  table tr {
    border-bottom: 0.1px solid rgb(187, 184, 184);
  }
  table tr:last-child {
    border: 0;
  }
  #f1{
      height:100px;
      margin-top: 490px;
      padding: 0px 0px;
      padding-left: 0px;
      padding-top: 12px;
  }
  #f1 a{
    display:inline-block;
    text-align: center;
    
    transition: all 0.3s ease;
    color: white;
   
  }
  f1{
     
      color:black;
      font-size: x-large;
      font-weight:bolder;
      padding-top: 12px;
      margin-left: 39%;
     
     
  }
  f2{
    margin-left: 39%;
     padding:0px 0px; 
    
  }
 
  .dot{
    padding:3px 3px;
    margin-left: 16px;
    margin-right: 2px;
  }

  
  .fa {
    
    font-size: 20px;
    width: 50px;
    height:20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    font-size: large;
  }
  
   .box2{
     margin-top: 69%;
     width:400px;
     padding:40px;
     position:absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
    /* background: #191919;*/
    /*background: rgb(24, 24, 126);*/
    background: rgba(0,0,0,0.5);
    /*background:white;*/
     text-align: center;
     /*border: 3px solid white;*/
     border-radius: 24px;
    
     
   }
   .box2 input[type="text"],.box2 input[type="password"]{
     border:0;
     background: none;
     display: block;
     margin:20px auto;
     text-align: center;
     border:2px solid black;
     padding: 14px 10px;
     width:300px;
     outline: none;
     color:white;
     border-radius: 24px;
     transition:0.25s ;
     margin-bottom: 30px;

   }
   .box2 h1{
     color: whitesmoke;
    
     font-weight: 400;
   }
  .box2 input[type="text"]:focus,.box2 input[type="password"]:focus{
    width:310px;
    border-color: white;

  }
  .box2 input[type="submit"]{
    border:0;
     background: none;
     display: block;
     margin:20px auto;
     text-align: center;
     border:2px solid whitesmoke;
     padding: 14px 40px;
     
     outline: none;
     color:black;
     border-radius: 24px;
     transition:0.25s ;
     cursor: pointer;
     font-weight: bolder;
     font-size:x-large;
     font-weight: 500;
  }
  .box2  input[type="submit"]:hover{
    background: white ;
    width: 280px;
  }
  
   .inp1 i{
    position: absolute;
    top:140px;
    right:33px;
    visibility: hidden;
   
  }
  
  .inp2 i{
    position: absolute;
    top:220px;
    right:33px;
    visibility: hidden;
  }
 #msg{
    position: absolute;
    top:180px;
    left: 50px;
    bottom: 14px;
    padding:7px;
    color:red;
  }
  #msg2{
    position: absolute;
    top:260px;
    left: 50px;
    width:50%;
    height:50%;
    bottom: 14px;
    padding-top: 16px;
    /*padding-bottom:16px;*/
    color:red;
  }
  .inp2 small{
    position: absolute;
    top:260px;
    left: 50px;
    visibility: hidden;
  }
  #stregthBar{
    color: violet;
  }
 